################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Elements/.vs/ZenDotNetElements/v15
