################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Elements/.vs/ZenDotNetElements/v15
/Elements/NetFramework/ZenStart/bin
/Elements/NetFramework/ZenStart/obj
/Elements/ZenStart/.vs/ZenStart/v15/Server/sqlite3
/Elements/.vs/ZenElementsDotNetCore
/Elements/NetCore/.vs
/Elements/NetCore/ZenDebug/bin
/Elements/NetCore/ZenDebug/obj
/Elements/NetFramework/ZenDebug/bin
/Elements/NetFramework/ZenDebug/obj
*.user
/Elements/.vs
/Elements/NetFramework/ZenElementsExecuter/bin
/Elements/NetFramework/ZenElementsExecuter/obj
/Elements/NetCore/ZenElementsExecuter/bin
/Elements/NetCore/ZenElementsExecuter/obj
/Elements/NetCore/ZenAssetReceiver/bin/Debug/netcoreapp2.0
/Elements/NetCore/ZenAssetReceiver/obj
/Elements/NetFramework/ZenAssetReceiver/bin
/Elements/NetFramework/ZenAssetReceiver/obj
/Elements/NetCore/ZenAssetTransmitter/bin/Debug/netcoreapp2.0
/Elements/NetFramework/ZenAssetTransmitter/bin
/Elements/NetFramework/ZenAssetTransmitter/obj
/Elements/NetCore/ZenAssetTransmitter/obj
/ZenCommon/.vs/ZenCommonDotNetCore/v15
/ZenCommon/NetCore/.vs/ZenCommonNetCore
/ZenCommon/NetCore/bin
/ZenCommon/NetCore/obj
/ZenCommon/.vs
/ZenCommon/NetFramework/.vs/ZenCommonNetFramework/v15
/ZenCommon/NetFramework/bin
/ZenCommon/NetFramework/obj
/Elements/Libs/.vs
/Elements/Libs/NetCore/ZenCsScriptCore/.vs/ZenCsScriptCore
/Elements/Libs/NetCore/ZenCsScriptCore/bin
/Elements/Libs/NetCore/ZenCsScriptCore/obj
/Elements/Libs/NetFramework/ZenCsScriptCore/.vs/ZenCsScriptCore/v15/Server/sqlite3
/Elements/Libs/NetFramework/ZenCsScriptCore/bin
/Elements/Libs/NetFramework/ZenCsScriptCore/obj
/Elements/NetCore/ZenCsScript/bin
/Elements/NetCore/ZenCsScript/obj
/Elements/NetFramework/ZenCsScript/bin
/Elements/NetFramework/ZenCsScript/obj
/Elements/NetFramework/ZenExcelReader/bin
/Elements/NetFramework/ZenExcelReader/obj
/Elements/NetCore/ZenExcelReader/bin/Debug/netcoreapp2.0
/Elements/NetCore/ZenExcelReader/obj
/Elements/NetFramework/ZenWebServer/bin
/Elements/NetFramework/ZenWebServer/obj
/Elements/ZenWebServer/bin/Debug/netcoreapp2.0
/Elements/ZenWebServer/obj
/Elements/NetCore/ZenWebServer/bin/Debug/netcoreapp2.0
/Elements/NetCore/ZenWebServer/obj
/libs/.vs
/libs/src/.vs
/libs/src/NetCore/ZenCsScriptCore/.vs/ZenCsScriptCore
/libs/src/NetCore/ZenCsScriptCore/bin
/libs/src/NetCore/ZenCsScriptCore/obj
/libs/src/NetFramework/ZenCsScriptCore/.vs/ZenCsScriptCore/v15/Server/sqlite3
/libs/src/NetFramework/ZenCsScriptCore/bin
/libs/src/NetFramework/ZenCsScriptCore/obj
/Elements/ZenElementActionCaller/bin/Debug/netcoreapp2.0
/Elements/ZenElementActionCaller/obj
/Elements/NetFramework/ZenElementActionCaller/bin
/Elements/NetFramework/ZenElementActionCaller/obj
/Elements/NetCore/ZenElementActionCaller/bin/Debug/netcoreapp2.0
/Elements/NetCore/ZenElementActionCaller/obj
/Elements/NetCore/ZenSqlServer/bin/Debug/netcoreapp2.0
/Elements/NetCore/ZenSqlServer/obj
/Elements/NetFramework/ZenSqlServer/bin
/Elements/NetFramework/ZenSqlServer/obj
/ZenEngine/.vs
/ZenEngine/bin
/ZenEngine/ZenCoreNetFramework.v11.suo
