################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Elements/.vs/ZenDotNetElements/v15
/Elements/NetFramework/ZenStart/bin
/Elements/NetFramework/ZenStart/obj
/Elements/ZenStart/.vs/ZenStart/v15/Server/sqlite3
/Elements/.vs/ZenElementsDotNetCore
/Elements/NetCore/.vs
/Elements/NetCore/ZenDebug/bin
/Elements/NetCore/ZenDebug/obj
/Elements/NetFramework/ZenDebug/bin
/Elements/NetFramework/ZenDebug/obj
*.user
/Elements/.vs
/Elements/NetFramework/ZenElementsExecuter/bin
/Elements/NetFramework/ZenElementsExecuter/obj
/Elements/NetCore/ZenElementsExecuter/bin
/Elements/NetCore/ZenElementsExecuter/obj
